@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Student Details:</h1>

@{
    var program=ViewBag.Message;
}

<h5>StuId:@program.StuId</h5>
<h5>StuName:@program.StuName</h5>
<h5>Branch:@program.Branch</h5>
<h5>Email:@program.Email</h5>
<h5>Phoneno:@program.Phoneno</h5>